<section class="objective" id="objective-<%= objective.id %>">
  <%= link_to objective, method: :delete, remote: true, class: 'delete-objective', data: {confirm: 'Are you sure?'} do %>
    <i class="fa fa-times-circle"></i>
  <% end %>

  <%= editable_tag(objective, 'name', :h3)%>
  Threshold: <%= editable_tag(objective, 'threshold', :h4)%>

  <div class="metric">
    <% unless objective.metric_id.present? %>
      Select a metric
      <%= render partial: 'objectives/select_metric', locals: {
        objective: objective,
        metrics: @metrics
      } %>
    <% end %>
  </div>
</section>
