<%= editable_tag(@project, 'name', :h2)%>


<% @project['objectives'].each do |objective| %>
  <section class="objective" id="<%= objective["_id"] %>">
    <%= editable_tag(objective, 'name', :h3)%>

    <% if objective['metric'].present? %>
      <canvas id="metric-<%= objective['metric']['_id'] %>" width="800" height="400">
      </canvas>
    <% end %>
  </section>
<% end %>

<button id="add-objective" data-project-id="<%= @project['_id'] %>">
  Add objective
</button>

<% content_for :javascript do %>
  <script>
    $(function() {
      <%
        @project['objectives'].each do |objective|
          if objective['metric']
      %>
            new MetricChartView(
              <%= objective.to_json.html_safe %>,
              new Metric(<%= objective['metric'].to_json.html_safe %>)
            );
      <%
          end 
        end
      %>

      $('#add-objective').click(window.DasBoard.addObjective);
    });
  </script>
<% end %>
