<%= editable_tag(@project, 'name', :h2)%>

<div id="objectives">
  <% @project.objectives.each do |objective| %>
    <%= render partial: "objectives/objective", locals: {objective: objective} %>
  <% end %>
</div>

<button id="add-objective" data-project-id="<%= @project.id %>">
  Add objective
</button>

<% content_for :javascript do %>
  <script>
    $(function() {
      var objectiveMetrics = {};
      <% @project.objectives.each do |objective| %>
        objectiveMetrics[<%= objective.id %>] = <%= objective.metric.to_json.html_safe %>;
      <% end %>
      new window.DasBoard.ProjectShowController(objectiveMetrics);
    });
  </script>
<% end %>
