<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Das Board" %></title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <nav>
      <ul id="nav-links">
        <li class="name">
          <a href="/">Das Board</a>
        </li>
        <li><%= link_to "New project", new_project_path, class: "button" %></li>
      </ul>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>

    <%= yield :javascript %>
  </body>
</html>
